In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("../datasets/20_dataset.csv", index_col=0)
data

,sex,age,D_1_1,LQ_1EQL,LQ_2EQL,LQ_3EQL,LQ_4EQL,LQ_5EQL,EQ5D,EC_wht_23,...,pa_aerobic,HE_BMI,HE_obe,BM1_0,E_NWT,L_BR_FQ,LS_1YR,DQ_SODA,DQ_COFFEE,DQ_SCOFFEE
ID,,,,,,,,,,,,,,,,,,,,,
A801169401,1,39,2.0,1.0,1.0,1.0,1.0,1.0,1.0,40.0,...,0.0,24.185489,3.0,1.0,NaN,4.0,1.0,88.0,88.0,88.0
A801169402,2,39,2.0,1.0,1.0,1.0,1.0,1.0,1.0,35.0,...,0.0,17.935939,1.0,1.0,NaN,4.0,2.0,88.0,88.0,88.0
A801169403,1,10,2.0,8.0,8.0,8.0,8.0,8.0,NaN,888.0,...,NaN,13.997271,NaN,1.0,NaN,1.0,1.0,1.0,1.0,1.0
A801169404,1,7,2.0,8.0,8.0,8.0,8.0,8.0,NaN,888.0,...,NaN,16.517345,NaN,1.0,NaN,1.0,1.0,1.0,1.0,1.0
A801169405,1,4,2.0,8.0,8.0,8.0,8.0,8.0,NaN,888.0,...,NaN,14.094637,NaN,1.0,NaN,1.0,1.0,88.0,88.0,88.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
R804366601,2,61,3.0,1.0,1.0,1.0,1.0,1.0,1.0,25.0,...,0.0,23.913275,3.0,1.0,4.0,1.0,1.0,88.0,88.0,88.0
R804368301,2,51,3.0,1.0,1.0,1.0,1.0,1.0,1.0,45.0,...,1.0,24.739601,3.0,1.0,4.0,3.0,1.0,88.0,88.0,88.0
R804368302,2,24,3.0,1.0,1.0,1.0,1.0,1.0,1.0,40.0,...,0.0,26.129927,4.0,1.0,NaN,4.0,2.0,1.0,6.0,1.0
R804371701,1,65,2.0,1.0,1.0,1.0,1.0,1.0,1.0,888.0,...,0.0,25.941572,4.0,1.0,2.0,1.0,1.0,88.0,88.0,88.0
R804371702,2,57,4.0,1.0,1.0,1.0,1.0,1.0,1.0,15.0,...,1.0,22.287517,2.0,1.0,2.0,1.0,2.0,88.0,88.0,88.0

In [3]:
data['EQ5D'].isna().sum()

1947

In [4]:
len(data)

7359

In [5]:
print(len(data)- data['EQ5D'].isna().sum())

5412

#1 결측 데이터 삭제
#2

In [6]:
print(data['LQ_1EQL'].isna().sum())
print(data['LQ_2EQL'].isna().sum())
print(data['LQ_3EQL'].isna().sum())
print(data['LQ_4EQL'].isna().sum())
print(data['LQ_5EQL'].isna().sum())

265
265
265
265
265

In [6]:
data['sm_presnt_a'] = None
sm_presnt = raw_data.loc[:, 'sm_presnt_a']

In [7]:
LQ_2EQL = data.loc[:,'LQ_2EQL']
LQ_3EQL = data.loc[:,'LQ_3EQL']
LQ_4EQL = data.loc[:,'LQ_4EQL']
LQ_5EQL = data.loc[:,'LQ_5EQL']

data['eq5l_new'] = None
eq5l_new = data.loc[:, 'eq5l_new']

eq5l_new

ID
A801169401    None
A801169402    None
A801169403    None
A801169404    None
A801169405    None
              ...
R804366601    None
R804368301    None
R804368302    None
R804371701    None
R804371702    None
Name: eq5l_new, Length: 7359, dtype: object

In [8]:
data['LQ_1EQL'].fillna(0, inplace=True)
data['LQ_1EQL'].replace({8: 0, 9: 0}, inplace=True)

data['LQ_2EQL'].fillna(0, inplace=True)
data['LQ_2EQL'].replace({8: 0, 9: 0}, inplace=True)

data['LQ_3EQL'].fillna(0, inplace=True)
data['LQ_3EQL'].replace({8: 0, 9: 0}, inplace=True)

data['LQ_4EQL'].fillna(0, inplace=True)
data['LQ_4EQL'].replace({8: 0, 9: 0}, inplace=True)

data['LQ_5EQL'].fillna(0, inplace=True)
data['LQ_5EQL'].replace({8: 0, 9: 0}, inplace=True)

LQ_1EQL = data.loc[:,'LQ_1EQL']
LQ_2EQL = data.loc[:,'LQ_2EQL']
LQ_3EQL = data.loc[:,'LQ_3EQL']
LQ_4EQL = data.loc[:,'LQ_4EQL']
LQ_5EQL = data.loc[:,'LQ_5EQL']


print(LQ_1EQL.value_counts(ascending=True))
print(LQ_2EQL.value_counts(ascending=True))
print(LQ_3EQL.value_counts(ascending=True))
print(LQ_4EQL.value_counts(ascending=True))
print(LQ_5EQL.value_counts(ascending=True))

3.0      19
2.0     685
0.0    1945
1.0    4710
Name: LQ_1EQL, dtype: int64
3.0       8
2.0     177
0.0    1945
1.0    5229
Name: LQ_2EQL, dtype: int64
3.0      19
2.0     333
0.0    1946
1.0    5061
Name: LQ_3EQL, dtype: int64
3.0      97
2.0     996
0.0    1946
1.0    4320
Name: LQ_4EQL, dtype: int64
3.0      32
2.0     485
0.0    1947
1.0    4895
Name: LQ_5EQL, dtype: int64

In [9]:

for i in range(len(data)):
    if LQ_1EQL.isin((1,2,3)).any():
        M2 = LQ_1EQL == 2

data['M2'] = M2
print(data['M2'])
print(data['M2'].value_counts())

# true_count = M2.count(True)
# false_count = M2.count(False)
#
# print(f'True : {true_count}, False : {false_count}')

ID
A801169401    False
A801169402    False
A801169403    False
A801169404    False
A801169405    False
              ...
R804366601    False
R804368301    False
R804368302    False
R804371701    False
R804371702    False
Name: M2, Length: 7359, dtype: bool
False    6674
True      685
Name: M2, dtype: int64

In [10]:
for i in range(len(data)):
    if LQ_1EQL.isin((1,2,3)).any():
        M3 = LQ_1EQL == 3

data['M3'] = M3
print(data['M3'])
print(data['M3'].value_counts())

ID
A801169401    False
A801169402    False
A801169403    False
A801169404    False
A801169405    False
              ...
R804366601    False
R804368301    False
R804368302    False
R804371701    False
R804371702    False
Name: M3, Length: 7359, dtype: bool
False    7340
True       19
Name: M3, dtype: int64

In [11]:
for i in range(len(data)):
    if LQ_2EQL.isin((1,2,3)).any():
        SC2 = LQ_2EQL == 2

data['SC2'] = SC2
print(data['SC2'])
print(data['SC2'].value_counts())

ID
A801169401    False
A801169402    False
A801169403    False
A801169404    False
A801169405    False
              ...
R804366601    False
R804368301    False
R804368302    False
R804371701    False
R804371702    False
Name: SC2, Length: 7359, dtype: bool
False    7182
True      177
Name: SC2, dtype: int64

In [12]:
for i in range(len(data)):
    if LQ_2EQL.isin((1,2,3)).any():
        SC3 = LQ_2EQL == 3

data['SC3'] = SC3
print(data['SC3'])
print(data['SC3'].value_counts())

ID
A801169401    False
A801169402    False
A801169403    False
A801169404    False
A801169405    False
              ...
R804366601    False
R804368301    False
R804368302    False
R804371701    False
R804371702    False
Name: SC3, Length: 7359, dtype: bool
False    7351
True        8
Name: SC3, dtype: int64

In [13]:
for i in range(len(data)):
    if LQ_3EQL.isin((1,2,3)).any():
        UA2 = LQ_3EQL == 2

data['UA2'] = UA2
print(data['UA2'])
print(data['UA2'].value_counts())

ID
A801169401    False
A801169402    False
A801169403    False
A801169404    False
A801169405    False
              ...
R804366601    False
R804368301    False
R804368302    False
R804371701    False
R804371702    False
Name: UA2, Length: 7359, dtype: bool
False    7026
True      333
Name: UA2, dtype: int64

In [14]:
for i in range(len(data)):
    if LQ_3EQL.isin((1,2,3)).any():
        UA3 = LQ_3EQL == 3

data['UA3'] = UA3
print(data['UA3'])
print(data['UA3'].value_counts())

ID
A801169401    False
A801169402    False
A801169403    False
A801169404    False
A801169405    False
              ...
R804366601    False
R804368301    False
R804368302    False
R804371701    False
R804371702    False
Name: UA3, Length: 7359, dtype: bool
False    7340
True       19
Name: UA3, dtype: int64

In [15]:
for i in range(len(data)):
    if LQ_4EQL.isin((1,2,3)).any():
        PD2 = LQ_4EQL == 2

data['PD2'] = PD2
print(data['PD2'])
print(data['PD2'].value_counts())

ID
A801169401    False
A801169402    False
A801169403    False
A801169404    False
A801169405    False
              ...
R804366601    False
R804368301    False
R804368302    False
R804371701    False
R804371702    False
Name: PD2, Length: 7359, dtype: bool
False    6363
True      996
Name: PD2, dtype: int64

In [16]:
for i in range(len(data)):
    if LQ_4EQL.isin((1,2,3)).any():
        PD3 = LQ_4EQL == 3

data['PD3'] = PD3
print(data['PD3'])
print(data['PD3'].value_counts())

ID
A801169401    False
A801169402    False
A801169403    False
A801169404    False
A801169405    False
              ...
R804366601    False
R804368301    False
R804368302    False
R804371701    False
R804371702    False
Name: PD3, Length: 7359, dtype: bool
False    7262
True       97
Name: PD3, dtype: int64

In [17]:
for i in range(len(data)):
    if LQ_5EQL.isin((1,2,3)).any():
        AD2 = LQ_5EQL == 2

data['AD2'] = AD2
print(data['AD2'])
print(data['AD2'].value_counts())

ID
A801169401    False
A801169402    False
A801169403    False
A801169404    False
A801169405    False
              ...
R804366601    False
R804368301    False
R804368302    False
R804371701    False
R804371702    False
Name: AD2, Length: 7359, dtype: bool
False    6874
True      485
Name: AD2, dtype: int64

In [18]:
for i in range(len(data)):
    if LQ_5EQL.isin((1,2,3)).any():
        AD3 = LQ_5EQL == 3

data['AD3'] = AD3
print(data['AD3'])
print(data['AD3'].value_counts())

ID
A801169401    False
A801169402    False
A801169403    False
A801169404    False
A801169405    False
              ...
R804366601    False
R804368301    False
R804368302    False
R804371701    False
R804371702    False
Name: AD3, Length: 7359, dtype: bool
False    7327
True       32
Name: AD3, dtype: int64

In [19]:
for i in range(len(data)) :
    if ((LQ_1EQL.isin((1,2,3))) & (LQ_2EQL.isin((1,2,3))) & (LQ_3EQL.isin((1,2,3))) & (LQ_4EQL.isin((1,2,3))) & (LQ_5EQL.isin((1,2,3)))).any() :
        N3 = ((LQ_1EQL == 3) | (LQ_2EQL == 3) | (LQ_3EQL == 3) | (LQ_4EQL == 3) | (LQ_5EQL == 3)).any()

data['N3'] = N3
print(data['N3'])
print(data['N3'].value_counts())

ID
A801169401    True
A801169402    True
A801169403    True
A801169404    True
A801169405    True
              ...
R804366601    True
R804368301    True
R804368302    True
R804371701    True
R804371702    True
Name: N3, Length: 7359, dtype: bool
True    7359
Name: N3, dtype: int64

In [20]:
for i in range(len(data)) :
    eq5l_new = 1 - (0.05 + 0.096 * M2 + 0.418 * M3 + 0.046 * SC2 + 0.136 * SC3 + 0.051 * UA2 + 0.208 * UA3 + 0.037 * PD2 + 0.151 * PD3 + 0.043 * AD2 + 0.158 * AD3 + 0.05 * N3)

data['eq5l_new'] = eq5l_new

print(data['eq5l_new'])
print(data['eq5l_new'].value_counts())

ID
A801169401    0.9
A801169402    0.9
A801169403    0.9
A801169404    0.9
A801169405    0.9
             ...
R804366601    0.9
R804368301    0.9
R804368302    0.9
R804371701    0.9
R804371702    0.9
Name: eq5l_new, Length: 7359, dtype: float64
0.900    5807
0.863     455
0.804     178
0.857     165
0.767     140
         ...
0.077       1
0.664       1
0.280       1
0.348       1
0.591       1
Name: eq5l_new, Length: 77, dtype: int64

In [21]:
print(data['eq5l_new'].value_counts(1))

0.900    0.789102
0.863    0.061829
0.804    0.024188
0.857    0.022422
0.767    0.019024
           ...
0.077    0.000136
0.664    0.000136
0.280    0.000136
0.348    0.000136
0.591    0.000136
Name: eq5l_new, Length: 77, dtype: float64

In [22]:
data[['EQ5D', 'eq5l_new']]

            EQ5D  eq5l_new
ID
A801169401   1.0       0.9
A801169402   1.0       0.9
A801169403   NaN       0.9
A801169404   NaN       0.9
A801169405   NaN       0.9
...          ...       ...
R804366601   1.0       0.9
R804368301   1.0       0.9
R804368302   1.0       0.9
R804371701   1.0       0.9
R804371702   1.0       0.9

[7359 rows x 2 columns]

총 데이터 개수 7359
0.9 : 5807
0.9 가 아닌 데이터 : 1552

In [23]:
data['eq5l_new'].value_count([0.9])

AttributeError: 'Series' object has no attribute 'value_count'

In [ ]:
data

In [ ]:
data.to_csv('../datasets/20_dataset_eq5d.csv', index=True)